body {
    position: relative;
    height: 100%;
    font-size: 2em;
    background: #fd297b; /* Old browsers */
	background: -moz-linear-gradient(top, #fd297b 3%, #f6290c 53%, #ff655b 100%) no-repeat;; /* FF3.6-15 */
	background: -webkit-linear-gradient(top, #fd297b 3%,#f6290c 53%,#ff655b 100%) no-repeat;; /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom, #fd297b 3%,#f6290c 53%,#ff655b 100%) no-repeat;; /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fd297b', endColorstr='#ff655b',GradientType=0 ) no-repeat;; /* IE6-9 */
}


nav li {
	font-size: .75em
}
.mini-logo{
	height: 25px;
	width: 25px;
	padding-right: 2px;
}
.logo {
	max-width: 100%;
}

.index-button{
	text-decoration:none;
	color:white;
}

.index-button:hover {
	color:white;

}
#section1 {
	padding: 60px 50px;
	height:500px;
	color: #fff; 
	background: linear-gradient(0deg, rgba(2,173,231,0.5), rgba(2,173,231,0.5)), url("../images/appleCoding.jpg");
	background-size:cover;
    background-position:center;
    background-color: #cccccc;
}


#section1 button {
	margin-top: 60px;
}
#section2 {
	padding: 60px 50px;
	height:500px;
	color: #fff; 
	background: linear-gradient(0deg, rgba(2,20,100,0.5), rgba(2,173,231,0.5)), url("../images/coding.jpg");
	background-size:cover;
    background-color: #cccccc;
	text-align: right;
}

#section2 button {
	margin-top: 60px;
}
#section3 {
	padding: 60px 50px;
	height:500px;
	color: #fff;
	background: linear-gradient(0deg, rgba(2,20,100,0.5), rgba(2,173,231,0.5)), url("../images/blackboard.jpg");
	background-size:cover;
    background-color: #cccccc;
    text-align: center;
}
#section3 button {
	margin-top: 60px;
}

#contact-bar {
	font-size: .35em;
	bottom: 0;
	margin:0;
}

.profile-link {
	style:none;
}

.btn {
	text-decoration: none;
}

.about-header{
	text-align: center;
	font-size: 5em;
	margin-top: 100px;
	padding-bottom: 10px;
	padding-left: 10px;

}

.about-text {
	max-width: 90%;
	padding-top: 20px;
}


.tech-image {
	max-width: 100%;
    border-radius: 75%;
}
.tech-image2 {
	max-width: 100%;
	border-radius: 75%;
}
.about-end {
	padding-top: 50px;
	padding-bottom: 50px;
}

.about-button{
	text-decoration:none;
	color:white;
}

@media only screen and (max-width: 768px){
    .about-header {
    	padding-left: 20px
    }
    .about-end {
    	padding-right: 30px
    }
    .tech-image2 {
        padding-right: 40px;
        padding-top: 10px;
    }
    .about-text{
    	padding-left: 50px;
    	font-size: .5em;
    	text-align: center;
    }
	.body {
	font-size: .5em
	}

	.button-container {
		padding-bottom: 60px;
	}

	.contact-content {
		font-size: .99rem;
	}
}

}
.container {
	padding-left: 50px
}

@media only screen and (max-width:647px) {
	body .container-index{
		font-size: 1rem
	}
}

.services-container{
	position: relative;
	top:100px;
	max-width: 750px;
	background-color: white;
	border-radius: 25px;
}

.service-icon {
	max-width: 136.66px;
}

.service-section {
	padding: 20px;
}

.solutions-button {
	margin-bottom: 100px
}

.contact-header {
	margin-top: 100px;

}

.contact-content{
	padding: 20px;
}


.services-header {
	margin-top: 20px;
}


.about-container {
	background-color: white;
	border-radius: 25px;
}

.index-background{
	background-color: white;
}

.contact-container{
	background-color: white;
	border-radius: 25px;
}
