body {
    position: relative;
    height: 100%;
    font-size: 2em;
    background: #fd297b; /* Old browsers */
	background: -moz-linear-gradient(top, #fd297b 3%, #f6290c 53%, #ff655b 100%) no-repeat;; /* FF3.6-15 */
	background: -webkit-linear-gradient(top, #fd297b 3%,#f6290c 53%,#ff655b 100%) no-repeat;; /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom, #fd297b 3%,#f6290c 53%,#ff655b 100%) no-repeat;; /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fd297b', endColorstr='#ff655b',GradientType=0 ) no-repeat;; /* IE6-9 */
}

footer {
   	font-size: 20px;
   	background-color: #f6f6f6;
   	color: black;
   	bottom: 0;
   	height:200%;;
	clear:both ;
}

nav li {
	font-size: .75em
}
.mini-logo{
	height: 40px;
	width: 40px;
}
.logo {
	max-width: 100%;
}

.index-button{
	text-decoration:none;
	color:white;
}

.index-button:hover {
	color:white;

}
#section1 {
	padding: 60px 50px;
	height:600px;
	color: #fff; 
	background: linear-gradient(0deg, rgba(2,173,231,0.5), rgba(2,173,231,0.5)), url("../images/appleCoding.jpg");
	background-size:cover;
    background-position:center;
    background-color: #cccccc;
}


#section1 button {
	margin-top: 60px;
}
#section2 {
	padding: 60px 50px;
	height:600px;
	color: #fff; 
	background: linear-gradient(0deg, rgba(2,20,100,0.5), rgba(2,173,231,0.5)), url("../images/coding.jpg");
	background-size:cover;
    background-color: #cccccc;
	text-align: right;
}

#section2 button {
	margin-top: 60px;
}
#section3 {
	padding: 80px 50px;
	height:600px;
	color: #fff;
	background: linear-gradient(0deg, rgba(2,20,100,0.5), rgba(2,173,231,0.5)), url("../images/blackboard.jpg");
	background-size:cover;
    background-color: #cccccc;
    text-align: center;
}
#section3 button {
	margin-top: 60px;
}

.profile-link {
	text-decoration: none;
}

.btn {
	text-decoration: none;
}

.about-header{
	text-align: center;
	font-size: 5em;
	margin-top: 70px;
	padding-bottom: 10px;
	padding-left: 10px;

}

.about-text {
	padding-top: 20px;
}


.tech-image {
	max-width: 100%;
    border-radius: 75%;
}
.tech-image2 {
	max-width: 100%;
	border-radius: 75%;
}
.about-end {
	padding-top: 50px;
	padding-bottom: 50px;
}

.about-button{
	text-decoration:none;
	color:white;
	margin-bottom: 150px;
}


.footer-end{
	font-size: .5em;
}

.footer-logo{
	width: 30px;
	height: 30px;
}


@media only screen and (max-width: 768px){
    .about-end {
    	padding-right: 30px
    }
    .tech-image2 {
        padding-right: 40px;
        padding-top: 10px;
    }
    .about-text{
    	font-size: .5em;
    	text-align: center;
    }
	.body {
	font-size: .5em
	}

	.button-container {
		padding-bottom: 60px;
	}

	.contact-content {
		font-size: .99rem;
	}
}

}
.container {
	padding-left: 50px
}

@media only screen and (max-width:647px) {
	body .container-index{
		font-size: 1rem
	}
}

.services-container{
	background-color: white;
	border-radius: 25px;
	margin-bottom: 200px;
	padding-bottom: 10px;
	max-width: 750px;

}

.services-blurb {
	max-width: 670px;
}

.service-icon {
	max-width: 136.66px;
}

.service-section {
	padding: 20px;
}

.solutions-button {
	margin-bottom: 100px
}

.contact-header {
	margin-top: 100px;
	padding-top: 50px;

}

.contact-content{
	padding: 20px;
}


.services-header {
	margin-top: 100px;
	padding-top: 40px;
}


.about-container {
	background-color: white;
	border-radius: 25px;
	margin-bottom: 200px;
	margin-top: 150px;
	padding-bottom: 10px;
}

.index-background{
	background-color: white;
}

.contact-container{
	background-color: white;
	border-radius: 25px;
	margin-top: 180px;
	margin-bottom: 100%;
	max-width: 900px;
}

.card-info{
	font-size: .75em
}

.contact-logo {
	max-width: 100%; 
}

.slideanim {visibility:hidden;}
.slide {
    /* The name of the animation */
    animation-name: slide;
    -webkit-animation-name: slide; 
    /* The duration of the animation */
    animation-duration: 1s; 
    -webkit-animation-duration: 1s;
    /* Make the element visible */
    visibility: visible; 
}

/* Go from 0% to 100% opacity (see-through) and specify the percentage from when to slide in the element along the Y-axis */
@keyframes slide {
    0% {
        opacity: 0;
        transform: translateY(70%);
    } 
    100% {
        opacity: 1;
        transform: translateY(0%);
    } 
}
@-webkit-keyframes slide {
    0% {
        opacity: 0;
        -webkit-transform: translateY(70%);
    } 
    100% {
        opacity: 1;
        -webkit-transform: translateY(0%);
    }
}
